html, body {
    margin:0;
}
.wpr {
    display: flex;
    align-items: center; /* align vertical */
    justify-content: center; /* align horizontal */
    height: 100vh;
}
.sidebar {
    width: 40px;
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
}

@media all and (max-width: 600px){
    .sidebar {
        width: 25px;
    }
}
.goleft {
    left: 0;
    justify-content: flex-end;
}
.goright {
    right: 0;
    justify-content: flex-start;
}
.sidebar img {
    height: 20px;
    width: 13px;
    opacity: .7;
    cursor: pointer;
}
.close {
    position: fixed;
    top: 15px;
    right: 13px;
    cursor: pointer;
}
.close img {
    width: 15px;
    height: 17px;
    opacity: .7;
}
figure {
    text-align: center;
    padding-bottom: 20px;
}
figcaption {
    width: 100%;
    text-align: left;
    margin: 0 auto;
	color: rgba(0,0,0, .6);
    font-size: 14px;
}
.wpr img {
    max-width: 80vw;
    max-height: 80vh;
    max-height: calc(100vh - 130px);
    padding-top: 50px;
}
figcaption .title {
	font-style: italic;
}
A:link {	
	text-decoration: none;
	color: black;
}
A:visited {
	text-decoration: none;
	color: black;
}
A:active {
	text-decoration: none
}
A:hover {
	text-decoration: none; 
	color: black;
}
.header{
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 0;
    height: 40px;
}
.name{
    color: black;
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 20px;
}
.links {
    position: absolute;
    right: 0;
    right: 20px;
    top: 20px;
}
figure a {
	cursor: pointer;
}
body a, a:link, a:visited, a:focus, a:hover, a:active {
  cursor: pointer;
}
